<div class="row no-gutters">
  <div class="offset-sm-1 col-sm-4">
    <div class="card">
    
      <!-- Card image -->
      <div class="view overlay">
        <img  class="card-img-top" src="../assets/img/commaPrisma.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <!-- Card content -->
      <div class="card-body text-center">
    
        <!-- Title -->
        <h4 class="card-title"><strong>Democralink</strong></h4>
        <!-- Subtitle -->
        <h5 class="blue-text pb-2"><strong>Political Communication</strong></h5>
        <!-- Text -->
        <p class="card-text">Facebook is a poor place to have a conversation about politics. Democralink is platform whose goal is to improve communication between political participants in a democracy.</p>
    
      </div>
    
    </div>
  </div>
  <div class="offset-sm-2 col-sm-4">
    <div class="card">
    
      <!-- Card image -->
      <div class="view overlay">
        <img  class="card-img-top" src="../assets/img/commaPrismaDeck.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <!-- Card content -->
      <div class="card-body text-center">
    
        <!-- Title -->
        <h4 class="card-title"><strong>Clash Mash</strong></h4>
        <!-- Subtitle -->
        <h5 class="blue-text pb-2"><strong>Clash of Clans API Interface</strong></h5>
        <!-- Text -->
        <p class="card-text">Clash of Clans makes many statistical information available via its API.  This site allows players to communicate and access information about their specific account.</p>
    
        <!-- Facebook -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
    
      </div>
    
    </div>
  </div>
</div>